<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey | Similarity Between</title>
</head>
<body>
    Comparing against (Username pattern): <input type="text" name="search" id="search" value="{{ username_pattern }}">
    <button onclick="matchPattern(document.getElementById('search').value)">Go!</button>
    <table>
        <thead>
            <tr>
                {% for header in similarity_matrix_header %}
                <th>{{ header.username }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for user, row in similarity_matrix %}
            <tr>
                <td>{{ user.0.username }}</td>
                {% for similarity in row %}
                <td>{{ similarity }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function matchPattern(pattern) {
            location.href = "{% url 'find-similarity-between' %}?survey-id={{ survey_id }}&username-pattern=" + pattern
        }
    </script>
</body>
</html>