<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey | Similarity To</title>
</head>
<body>
    Comparing against: <input type="text" name="search" id="search" list="values" value="{{ current_user }}">
    <datalist id="values">
        {% for user in user_list %}
        <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </datalist>
    <button onclick="compareAgainst(document.getElementById('search').value)">Go!</button>
    <table>
        <thead>
            <tr>
                <td>Other users</td>
            </tr>
        </thead>
        <tbody>
            {% for user, row in similarity_row %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ row }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul>
        {% for user in user_list %}
        <li>
            Compare against <a href="{% url 'find-similarity-to' %}?survey-id={{ survey_id }}&user-id={{ user.id }}">{{ user.username }}</a>
        </li>
        {% endfor %}
    </ul>
    <script>
        function compareAgainst(user) {
            location.href = "{% url 'find-similarity-to' %}?survey-id={{ survey_id }}&user-id=" + user
        }
    </script>
</body>
</html>